body {
    background-color: #13010B;
    font-family: 'Red Hot Mono', sans-serif;
    margin: 0%;
}

.site-wrap {
    display: grid;
    grid-template-columns: 1fr 550px 600px 1fr;
    grid-template-rows: 241px 100px 210px 500px 241px;
    grid-gap: 5px;
    grid-template-areas:
        "nav nav nav nav"
        ". profile-pic about ."
        ". profile-pic about ."
        ". content content ."
        "footer footer footer footer"
    ;
}

/* Profile Pic Styles */

.profile-pic {
    grid-area: profile-pic;
}

.profile-pic img {
    width: 99%;
    height: 99%;
    border: 2px solid #6A0F49;
}

/* Drawings Styles */

.before {
    grid-area: before;
    background-color: #A99F96;
    border: 2px solid #6A0F49;
}

.after {
    grid-area: after;
    background-color: #A99F96;
    border: 2px solid #6A0F49;
}

/* About Styles */

.about {
    background-color: #A99F96;
    grid-area: about;
    color: #2E0219;
    text-align: center;
    padding: 4px;
    font-size: 22px;
    border: 2px solid #6A0F49;
}

.about h2 {
    font-size: 30px;
    color: #6A0F49;
}

/* Content Styles */

.content {
    background-color: #A99F96;
    color: #2E0219;
    grid-area: content;
    text-align: center;
}

.content h1 {
    color: #6A0F49;
}