body {
    background-color: #13010B;
    font-family: lobster;
}

.site-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 335px 123px 200px 200px 250px 400px 200px;
    grid-gap: 10px;
    grid-template-areas:
        "nav nav nav nav"
        "alfred profile-pic profile-pic open-yo-mind"
        "reflection form form smokin"
        "reflection form form smokin"
        ". . . ."
        ". about about ."
        ". certif certif ."
        "footer footer footer footer"
    ;
}

/* Logo styles */

.logo {
    grid-area: logo;
}

.logo picture img {
    width: 100%;
    height: 100%;
}

/* Nav styles */

.nav {
    grid-area: nav;
    background-color: #2E0219;
    border: 2px solid orange;
    color: orange;
    text-align: center;
    font-size: 25px;
}

.nav h1 {
    font-size: 35px;
}

.nav a {
    font-size: 40px;
    color: orange;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav a:hover {
    color: #6A0F49;
}

.nav > .links {
    display: flex;
    justify-content: space-around;
}

.nav > .links a {
    display: inline-block;
}

/* Drawing styles */
/* alfred drawing */

.alfred {
    grid-area: alfred;
}

.alfred picture img {
    width: 242px;
    height: 353px;
    margin-left: 20px;
    margin-top: 20px;
    border: 4px solid #4A001F;
}

/* reflection drawing */

.reflection {
    grid-area: reflection;
}

.reflection picture img {
    width: 242px;
    height: 353px;
    margin-left: 20px;
    margin-top: 100px;
    border: 4px solid #4A001F;
}

/* OPEN YO MIND drawing */

.open-yo-mind {
    grid-area: open-yo-mind;
}

.open-yo-mind picture img {
    width: 242px;
    height: 353px;
    margin-left: 30px;
    margin-top: 20px;
    border: 4px solid #4A001F;
}

/* smokin' drawing */

.smokin {
    grid-area: smokin;
}

.smokin picture img {
    width: 242px;
    height: 353px;
    margin-left: 30px;
    margin-top: 100px;
    border: 4px solid #4A001F;
}

/* Profile pic styles */

.profile-pic {
    grid-area: profile-pic;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic picture img {
    width: 447.5px;
    height: 298.5px;
    border: 2px solid #4A001F;
}

/* Form styles */

.form h1 {
    text-align: center;
    font-size: 41px;
    color: white;
}

.form {
    grid-area: form;
    text-align: center;
    background-color: #2E0219;
    border: 2px solid orange;
    height: 457px;
}

/* About styles */

.about {
    background-color: #6A0F49;
    grid-area: about;
    border: 2px solid orange;
    color: orange;
    text-align: center;
}

.about h1 {
    font-size: 40px;
}

.about main {
    font-size: 23px;
}

/* Certifications styles */

.certif {
    margin-top: 50px;
    grid-area: certif;
    background-color: #2E0219;
    border: 2px solid orange;
}

.certif h1 {
    font-size: 40px;
    color: orange;
    margin-left: 40px;
}

.certif picture img {
    width: 200px;
    height: 200px;
}

/* Footer Styles */

.footer {
    grid-area: footer;
    background-color: #2E0219;
    border-top: 2px solid orange;
}