body {
    background-color: #13010B;
    font-family: lobster;
    margin: 0%;
}

.site-wrap {
    display: grid;
    grid-template-columns: 1fr 600px 400px 1fr;
    grid-template-rows: 222px 100px 270px 100px 180px;
    grid-gap: 10px;
    grid-template-areas:
        "nav nav nav nav"
        ". . . ."
        ". profile-pic about ."
        ". . . ."
        "footer footer footer footer"
    ;
}

/* Nav Styles */

.nav {
    grid-area: nav;
    background-color: #945D5E;
    color: #37123C;
    text-align: center;
    font-size: 31.5px;
    margin: none;
}

.nav a {
    font-size: 33px;
    color: #71677C;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    background-color: #DDA77B;
    padding: 4px;
    border: 2px solid #71677C;
}

.nav a:hover {
    color: #6A0F49;
}

.nav > .links {
    display: flex;
    justify-content: space-around;
}

/* Profile Pic Styles */

.profile-pic {
    grid-area: profile-pic;
}

.profile-pic img {
    width: 120%;
    height: 120%;
}

/* Form Styles */

.form h1 {
    text-align: center;
    font-size: 41px;
    color: white;
}

.form {
    grid-area: form;
    text-align: center;
    background-color: #2E0219;
    border: 2px solid orange;
    height: 457px;
}

/* About Styles */

.about {
    background-color: #A99F96;
    grid-area: about;
    color: #71677C;
    text-align: center;
    padding: 4px;
    font-size: 22px;
}

.about h2 {
    font-size: 30px;
}

/* Footer Styles */

.footer {
    grid-area: footer;
    background-color: #945D5E;
    color: #37123C;
    color: 
}